name: Windows-RDP-Ultimate
on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Вставь команду из Google Remote Desktop'
        required: true
      pincode:
        description: 'Вставь свой ПИН-КОД (6 цифр)'
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download and Install Chrome RDP
      run: |
        $url = "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi"
        Invoke-WebRequest -Uri $url -OutFile "rdp.msi"
        Start-Process msiexec.exe -Wait -ArgumentList "/i rdp.msi /qn"
    - name: Authentication
      shell: powershell
      run: |
        ${{ github.event.inputs.authcode }} --pin=${{ github.event.inputs.pincode }}
    - name: Keep Alive
      run: |
        Write-Host "Все готово! Подключайся через приложение на телефоне."
        while ($true) { Start-Sleep -Seconds 3600 }
