name: Windows-RDP-Final
on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Вставь команду из Google Remote Desktop (которая начинается с & или powershell)'
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download and Install Chrome RDP
      run: |
        $url = "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi"
        Invoke-WebRequest -Uri $url -OutFile "rdp.msi"
        Start-Process msiexec.exe -Wait -ArgumentList "/i rdp.msi /qn"
    - name: Authentication
      shell: powershell
      run: |
        ${{ github.event.inputs.authcode }}
    - name: Keep Alive
      run: |
        Write-Host "Виртуалка успешно запущена! Можно подключаться через телефон."
        while ($true) { Start-Sleep -Seconds 3600 }
