name: Ultimate-RDP-Ngrok
on: 
  workflow_dispatch:
    inputs:
      ngrok_token:
        description: '38gzDQwrGzxf7oHgCjWXhvS5OnV_j236sBb2h8ttQyi1kG8H'
        required: true
      pincode:
        description: 'Set Windows Password'
        required: true
        default: 'Robanik123!'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Set Password & Audio
      shell: powershell
      run: |
        # Устанавливаем пароль для пользователя runneradmin
        $Password = ConvertTo-SecureString "${{ github.event.inputs.pincode }}" -AsPlainText -Force
        Set-LocalUser -Name "runneradmin" -Password $Password
        
        # Включаем звук и RDP
        Set-Service -Name "Audiosrv" -StartupType Automatic
        Start-Service -Name "Audiosrv"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "fDisableAudio" -Value 0
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "fDisableAudioCapture" -Value 0
        (Get-WmiObject Win32_TerminalServiceSetting -Namespace root\cimv2\TerminalServices).SetAllowTSConnections(1,1)

    - name: Install Ngrok & Discord
      shell: powershell
      run: |
        Invoke-WebRequest "https://bin.equinox.io/c/b34edqjn9kv/ngrok-v3-stable-windows-amd64.zip" -OutFile "ngrok.zip"
        Expand-Archive "ngrok.zip"
        Invoke-WebRequest "https://discord.com/api/download?platform=win" -OutFile "DiscordSetup.exe"
        Start-Process "DiscordSetup.exe" -ArgumentList "/S"

    - name: Start Ngrok Tunnel
      shell: powershell
      run: |
        .\ngrok.exe config add-authtoken ${{ github.event.inputs.ngrok_token }}
        Start-Process .\ngrok.exe -ArgumentList "tcp 3389"
        Start-Sleep -Seconds 10
        
        # Выводим адрес для подключения
        $tunnels = Invoke-RestMethod http://localhost:4040/api/tunnels
        $address = $tunnels.tunnels.public_url -replace 'tcp://', ''
        Write-Host "=========================================="
        Write-Host "CONNECT TO: $address"
        Write-Host "USER: runneradmin"
        Write-Host "PASS: ${{ github.event.inputs.pincode }}"
        Write-Host "=========================================="

    - name: Keep Alive
      run: |
        while ($true) {
          Write-Host "Session Active..."
          Start-Sleep -Seconds 60
        }
