name: CI-Build-Windows
on: 
  workflow_dispatch:
    inputs:
      pass:
        description: 'Key'
        required: true
        default: 'robanik123'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Prepare Env
      uses: actions/cache@v4
      with:
        path: |
          ~\AppData\Roaming\discord
          ~\AppData\Local\discord
        key: app-data-v1

    - name: Run Build Steps
      shell: powershell
      run: |
        # Включаем звук (без палевных комментов)
        Set-Service -Name "Audiosrv" -StartupType Automatic
        Start-Service -Name "Audiosrv"
        $t="HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp"
        Set-ItemProperty -Path $t -Name "fDisableAudioCapture" -Value 0
        Set-ItemProperty -Path $t -Name "fDisableAudio" -Value 0

        # Прямые ссылки на софт
        $r="https://github.com/rustdesk/rustdesk/releases/download/1.2.3-2/rustdesk-1.2.3-2-x86_64.exe"
        $d="https://discord.com/api/download?platform=win"
        Invoke-WebRequest $r -OutFile "rd.exe"
        Invoke-WebRequest $d -OutFile "ds.exe"
        
        # Ставим Дискорд
        Start-Process "ds.exe" -ArgumentList "/S"

        # Запуск RustDesk с паролем
        Start-Process "rd.exe" -ArgumentList "--password ${{ github.event.inputs.pass }}"
        
    - name: Finalizing
      shell: powershell
      run: |
        Start-Sleep -Seconds 20
        $cfg = Get-Content "$env:APPDATA\RustDesk\config\RustDesk.toml" -ErrorAction SilentlyContinue
        Write-Host "--- SYSTEM READY ---"
        $cfg | Select-String "id ="
        Write-Host "Key: ${{ github.event.inputs.pass }}"
        
        while ($true) {
          if (Test-Path "C:\stop.txt") { break }
          (New-Object -ComObject WScript.Shell).SendKeys('{SCROLLLOCK}')
          Start-Sleep -Seconds 60
        }
