name: CI-Build-Windows
on: 
  workflow_dispatch:
    inputs:
      pass:
        description: 'Set RustDesk Password'
        required: true
        default: 'robanik123'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Prepare Env
      uses: actions/cache@v4
      with:
        path: |
          ~\AppData\Roaming\discord
          ~\AppData\Local\discord
        key: app-data-v1

    - name: Install and Launch
      shell: powershell
      run: |
        # 1. Enable Audio
        Set-Service -Name "Audiosrv" -StartupType Automatic
        Start-Service -Name "Audiosrv"
        $t="HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp"
        Set-ItemProperty -Path $t -Name "fDisableAudioCapture" -Value 0
        Set-ItemProperty -Path $t -Name "fDisableAudio" -Value 0

        # 2. Download Software
        $r="https://github.com/rustdesk/rustdesk/releases/download/1.2.3-2/rustdesk-1.2.3-2-x86_64.exe"
        $d="https://discord.com/api/download?platform=win"
        Invoke-WebRequest $r -OutFile "rd.exe"
        Invoke-WebRequest $d -OutFile "ds.exe"
        
        # 3. Install Discord & Start RustDesk
        Start-Process "ds.exe" -ArgumentList "/S"
        Start-Process "rd.exe" -ArgumentList "--password ${{ github.event.inputs.pass }}"

    - name: Finalizing
      shell: powershell
      run: |
        Write-Host "Searching for RustDesk ID..."
        $id = ""
        for ($i=0; $i -lt 20; $i++) {
            Start-Sleep -Seconds 10
            $cfg = Get-Content "$env:APPDATA\RustDesk\config\RustDesk.toml" -ErrorAction SilentlyContinue
            if ($cfg) {
                $idLine = $cfg | Select-String "id ="
                if ($idLine) {
                    Write-Host "============================"
                    Write-Host "SYSTEM IS READY!"
                    Write-Host "YOUR $idLine"
                    Write-Host "YOUR PASSWORD: ${{ github.event.inputs.pass }}"
                    Write-Host "============================"
                    $id = "found"
                    break
                }
            }
            Write-Host "Still waiting for ID... (Attempt $i)"
        }
        
        if (-not $id) { Write-Error "ID not found in time. Check if RustDesk started." }

        while ($true) {
          if (Test-Path "C:\stop.txt") { break }
          (New-Object -ComObject WScript.Shell).SendKeys('{SCROLLLOCK}')
          Start-Sleep -Seconds 60
        }
