name: RDP-FINAL-WORK
on: 
  workflow_dispatch:
    inputs:
      ngrok_token:
        description: 'Ngrok Token'
        required: true
      pincode:
        description: 'Password'
        required: true
        default: 'Robanik123!'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Setup System
      run: |
        $Password = ConvertTo-SecureString "${{ github.event.inputs.pincode }}" -AsPlainText -Force
        Set-LocalUser -Name "runneradmin" -Password $Password
        (Get-WmiObject Win32_TerminalServiceSetting -Namespace root\cimv2\TerminalServices).SetAllowTSConnections(1,1)
        Set-Service -Name "Audiosrv" -StartupType Automatic
        Start-Service -Name "Audiosrv"

    - name: Download Files
      run: |
        # Качаем ngrok напрямую в текущую папку
        Invoke-WebRequest "https://bin.equinox.io/c/b34edqjn9kv/ngrok-v3-stable-windows-amd64.zip" -OutFile "ng.zip"
        Expand-Archive "ng.zip" -DestinationPath "."
        # Качаем Дискорд
        Invoke-WebRequest "https://discord.com/api/download?platform=win" -OutFile "ds.exe"
        Start-Process "ds.exe" -ArgumentList "/S"

    - name: Connect and Show ID
      run: |
        .\ngrok.exe config add-authtoken ${{ github.event.inputs.ngrok_token }}
        Start-Process .\ngrok.exe -ArgumentList "tcp 3389"
        Start-Sleep -Seconds 15
        $t = Invoke-RestMethod http://localhost:4040/api/tunnels
        $addr = $t.tunnels.public_url -replace 'tcp://', ''
        
        # МАГИЯ: Это выведет адрес прямо в заголовок логов!
        Write-Host "::notice title=YOUR_RDP_ADDRESS::$addr"
        
        Write-Host "============================="
        Write-Host "ADDRESS: $addr"
        Write-Host "USER: runneradmin"
        Write-Host "PASS: ${{ github.event.inputs.pincode }}"
        Write-Host "============================="
        
        while($true){ Start-Sleep 60 }
