name: Ideal-Fast-RDP
on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Команда от Google'
        required: true
      pincode:
        description: 'ПИН (6 цифр)'
        required: true

jobs:
  build:
    runs-on: windows-2019
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup System
      shell: powershell
      run: |
        # Установка обоев (если файл загружен)
        if (Test-Path "wallpaper.jpg") {
            $wallpaperPath = "C:\wallpaper.jpg"
            Copy-Item "wallpaper.jpg" -Destination $wallpaperPath
            $code = @'
            using System.Runtime.InteropServices;
            public class Wallpaper {
                [DllImport("user32.dll", CharSet = CharSet.Auto)]
                public static extern int SystemParametersInfo(int uAction, int uParam, string lpvParam, int fuWinIni);
            }
'@
            Add-Type -TypeDefinition $code
            [Wallpaper]::SystemParametersInfo(0x0014, 0, $wallpaperPath, 0x01 -bor 0x02)
        }

        # Быстрая загрузка и установка
        Invoke-WebRequest -Uri "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi" -OutFile "rdp.msi"
        Invoke-WebRequest -Uri "https://discord.com/api/download?platform=win" -OutFile "DiscordSetup.exe"
        
        Start-Process msiexec.exe -Wait -ArgumentList "/i rdp.msi /qn"
        Start-Process "DiscordSetup.exe" -ArgumentList "/S"
        
        # Авторизация
        ${{ github.event.inputs.authcode }} --pin=${{ github.event.inputs.pincode }}

    - name: Keep Alive
      shell: powershell
      run: |
        Write-Host "Все готово! Обои и Дискорд на месте."
        while ($true) { Start-Sleep -Seconds 60 }
